@use "../../common/config";

$border-line-color: rgba(60, 60, 60, 0.12);

/* Hero */
.container {
  padding: 0 2rem;
  background-color: config.$primary-bg;
  height: 100%;

  min-height: 100vh;
  // min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 10;

  :before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
        180deg,
        rgba(config.$primary-text, 0.2) 0%,
        rgba(config.$primary-text, 0.6) 100%
      ),
      linear-gradient(
        180deg,
        rgba(config.$primary-text, 0.2) 0%,
        transparent 100%
      );
    z-index: 11;
  }
}

/* Hero Background */

.circle {
  display: flex;
  // position: absolute;
  background: transparent;
  border: 20vh solid transparent;
  border-radius: 50%;
  // box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
  height: 100vw;
  width: 100vw;
  // margin: -50vw -50vw 0 0;
  z-index: 1;
  justify-content: center;
  position: absolute;

  animation-name: backgroundColorPalette;
  animation-duration: 15000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  &.two {
    height: 80vw;
    width: 80vw;
    z-index: 2;
    animation-direction: alternate-reverse;
  }
}

@keyframes backgroundColorPalette {
  0% {
    border-color: rgba(#cbc5ea, 0.85);
  }
  25% {
    border-color: rgba(config.$accent-2, 0.85);
  }
  50% {
    border-color: rgba(config.$vibrant-1, 0.85);
  }
  75% {
    border-color: rgba(#c09bd8, 0.85);
  }
  100% {
    border-color: rgba(#13505b, 0.85);
  }
}

.bg-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;

  .circle {
    margin-top: -50vh;

    &.two {
      margin-top: -50vh;
    }
  }
}

/* Hero Content */
.hero-content {
  z-index: 13;
  max-width: 1200px;
  position: absolute;
  padding: 0.5em 8em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 80px;
  font-weight: 700;
  text-align: left;

  span {
    color: config.$accent-5;
  }
}

.subtext {
  //   margin-top: 24px;
  font-size: 40px;
  font-weight: 600;
  text-align: left;
  max-width: 600px;
}

/* Responsive Breakpoints */

@media screen and (max-width: 768px) {
  .hero-content {
    padding: 0.5em 2em;
  }
  .title {
    font-size: 60px;
  }

  .subtext {
    font-size: 30px;
  }
}
@media screen and (max-width: 480px) {
  .hero-content {
    padding: 0.5em 0;
  }
  .title {
    font-size: 42px;
  }

  .subtext {
    font-size: 24px;
  }

  .circle {
    height: 80vh;
    width: 80vh;
    border-width: 30vw;

    &.two {
      height: 60vh;
      width: 60vh;
    }
  }

  .he {
    min-height: 100%;
    height: auto;
  }
}
