@use "../../common/config";

/* Colors */

$border-line-color: rgba(60, 60, 60, 0.12);

/* Header */

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.5rem 0;
  margin-top: -73px;
  top: 0;
  // height: inherit;
  border-bottom: 1px solid $border-line-color;
}

.navbar > .nav-container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}

.nav-style {
  padding: 0.75rem 0;
  background-color: transparent;
  transition: 0.2s ease-in-out transform;
  box-shadow: 0 0.5rem 1rem rgba (0, 0, 0, 0.15),
    inset 0 -1px 0rgba (0, 0, 0, 0.15);

  .navbar-toggler-1 {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    border: 0;
  }
  .navbar-toggler-1:first-child {
    margin-left: -0.5rem;
  }

  .toggle-canvas {
    background-color: transparent;
    border-left: 0;
  }

  .nav-link {
    color: rgba(config.$primary-text, 0.85);
  }

  .nav-svg {
    display: inline-block;
    vertical-align: -0.125rem;

    .tooltip-text {
      visibility: hidden;
      width: 2em;
      background-color: config.$primary-bg;
      color: config.$primary-text;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 50%;
      margin-left: -60px;
    }
  }

  .navbar-brand {
    transition: 0.2s ease-in-out transform;
  }
}

.nav-svg {
  .tooltip-text {
    visibility: hidden;
    font-size: 0.5rem;
    width: 60px;
    background-color: rgba(config.$primary-bg, 0.85);
    color: config.$primary-text;
    text-align: center;
    border-radius: 0.25rem;
    padding: 0.5em;

    /* Position the tooltip */
    position: relative;
    z-index: 1400;
    // : 50%;
    // margin-left: -60px;
  }
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1010;
}

img {
  vertical-align: middle;
}
.logo-block {
  display: block !important;
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

/* Nav */

.edge-space {
  --edge-x: 3rem;
}

.nav-container {
  width: 100%;
  padding-right: calc(var(--edge-x) * 0.5);
  padding-left: calc(var(--edge-x) * 0.5);
  margin-left: auto;
  margin-right: auto;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

/* Logo Link */

.navbar-brand {
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.padding-null {
  padding: 0 !important;
}

.margin-nav {
  margin-right: 0 !important;
}

/* Mobile Nav Button */

.flex {
  display: flex !important;
}

.navbar-toggler-1 {
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border-radius: 0.375rem;
  transition: box-shadow 0.15s ease-in-out;
}

[type="button"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

button {
  text-transform: none;
  margin: 0;
  font-family: inherit;
}

.display {
  padding: 0.5rem !important;
  order: 3 !important;
}

/* Mobile Nav Menu */
.toggle-canvas {
  background-color: config.$primary-bg;
  border-left: 0;
}

.flex-grow {
  flex-grow: 1 !important;
}

/* Mobile Nav Menu Header */
.padding-edges {
  padding-bottom: 0 !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.toggle-canvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;

  .btn-close {
    padding: 0.5rem 0.5rem;
    margin-top: -0.5rem;
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
  }
}

.btn-close-white {
  filter: invert(0) grayscale(100%) brightness(200%);
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  color: config.$primary-text;
  background: transparent center/1em auto no-repeat;
  font-size: 1.25rem;
  border: 0;
  border-radius: 0.375rem;
  opacity: 0.5;
}

.toggle-canvas-body {
  flex-grow: 1;
  overflow-y: auto;
}

.padding-points {
  padding: 0 1.5rem 1.5rem 1.5rem !important;
}

hr {
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
  color: rgba(config.$primary-text, 0.5) !important;
}

.navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.flex-row {
  flex-direction: row !important;
}

ol,
ul,
dl {
  margin-top: 0;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

/* Nav Links */
.nav-link {
  display: block;
  text-decoration: none;
  cursor: pointer;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out,
    border-color 150ms ease-in-out;
}

.bg-fill {
  border-bottom: solid 0.125rem transparent;

  &:hover {
    color: config.$accent-5;
    border-bottom: solid 0.125rem config.$accent-5;
  }

  &.active {
    color: config.$accent-5;
  }
}

.px {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.padding-xy {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.ms-2 {
  margin-left: 0.5rem !important;
}

small {
  font-size: 0.875rem;
}

.github:hover {
  color: config.$accent-1;
}

.linkedin:hover {
  color: config.$accent-6;
}

.cv:hover {
  color: config.$vibrant-2;
}

/* Responsive breakpoints */

@media screen and (min-width: 768px) {
  .flex-wrap {
    flex-wrap: nowrap !important;
  }

  .navbar {
    flex-wrap: nowrap;
    justify-content: space-evenly;

    &.active {
      backdrop-filter: blur(10px);
    }

    .navbar-nav {
      flex-direction: row;
    }
  }

  .margin-bp {
    margin-right: 0.5rem !important;
  }

  .nav-style {
    .navbar-toggler-1 {
      display: none !important;
    }
  }

  .display {
    display: none !important;
  }

  .toggle-canvas {
    background-color: transparent;

    .toggle-canvas-header {
      display: none;
    }

    .toggle-canvas-body {
      display: flex;
      flex-grow: 0;
      overflow-y: visible;
      background-color: transparent !important;
    }
  }
  .pt-l {
    padding: 0 !important;
  }

  hr {
    display: none !important;
  }

  .col-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .navbar-style-nav {
    margin-right: auto !important;
    margin-left: auto;
  }

  .d-none {
    display: none !important;
  }

  .px {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .nav-svg:hover {
    .tooltip-text {
      visibility: visible;
    }
  }

  .bg-fill.active {
    border-bottom: solid 0.125rem config.$accent-5;
  }
}

@media screen and (max-width: 767.98px) {
  .navbar {
    transition: 500ms all ease;

    &.active {
      background-color: config.$primary-bg;
    }
  }

  .toggle-canvas.toggle-canvas-end {
    top: 0;
    right: 0;
    width: 100%;
    background: config.$primary-bg;
    transform: translateX(100%);
    // clip-path: inset(0);
  }

  .toggle-canvas {
    position: fixed;
    bottom: 0;
    z-index: 1040;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    color: config.$primary-text;
    visibility: hidden;
    background-clip: padding-box;
    outline: 0;
    transition: transform 400ms ease-in-out;

    &.show {
      visibility: visible;
      transform: translateX(0);
    }
  }

  .nav-style {
    .toggle-canvas {
      box-shadow: 0 1rem 3rem rgb(0 0 0/ 18%);
    }
  }
}
