@use "./config";

.section {
  padding: 0 2vw;
  background-color: config.$primary-bg;
  height: 100%;
  min-height: 800px;
  // min-height: 100vh;
  // min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: auto;

  &.exp {
    background-color: config.$primary-bg;
  }

  &.ach {
    // background-color: config.$accent-5;
    // background-image: linear-gradient(
    //   to left top,
    //   #41b3a3,
    //   #8bc4a4,
    //   #c0d5b5,
    //   #e7e7d3,
    //   #fffdfa
    // );
  }

  .topline {
    align-items: flex-start;
  }
}

.section-content {
  z-index: 13;
  max-width: 1200px;
  width: 100%;
  // width: 100vw;
  height: 100%;
  list-style-type: none;
  padding: 0.5em 8em;
  // margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  justify-items: center;
}

.proj,
.abt {
  // grid-template-columns: 1fr;
  // grid-template-rows: repeat(auto-fit, mimax(50px, 1fr));
  margin: 5vh 4rem;
  padding: 8em 0.5em;
}

.abt {
  justify-items: stretch;
}

.work,
.projects,
.about {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow-x: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  color: rgba(config.$accent-5, 0.55);
  font-size: 200px;
  font-weight: 500;
  letter-spacing: -1rem;
}

.about {
  // color: rgba(config.$primary-bg, 0.55);
}

.topline {
  // margin-left: -850px;
  color: #ff4d00;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.4px;
  margin-bottom: 16px;
  @media screen and (max-width: 1000px) {
    margin-left: 0;
  }
}

/* Responsive Breakpoints */

@media screen and (max-width: 1000px) {
  .section-content {
    padding: 0 1.25rem;
    margin: 4rem 5vw;
  }

  .proj,
  .abt {
    margin: 6vh 4rem;
    padding: 8em 1.25em;
  }
}

@media screen and (max-width: 768px) {
  .section {
    height: auto;
    min-height: 1100px;
  }

  .section-content {
    padding: 0 1.25rem;
    margin: 4rem 5vw;
  }

  .proj,
  .abt {
    margin: 2vh 4rem;
    padding: 4em 1.25em;
  }

  .work,
  .projects,
  .about {
    font-size: 100px;
    letter-spacing: -0.5rem;
  }
}
@media screen and (max-width: 480px) {
  .section {
    min-height: 1300px;
    height: auto;
  }

  .work,
  .projects,
  .about {
    font-size: 80px;
    letter-spacing: -0.125rem;
  }

  .proj,
  .abt {
    margin: 2vh 4rem;
    padding: 3em 1.25em;
  }
}
